ansicon==1.89.0
asgiref==3.6.0
blessed==1.19.0
certifi==2021.10.8
charset-normalizer==2.0.7
colorama==0.4.4
Django==4.1.7
django-jalali==6.0.1
django-jalali-date==1.0.1
fire==0.4.0
halo==0.0.31
icon==0.0.5
idna==3.2
jdatetime==4.1.1
jinxed==1.2.0
log-symbols==0.0.14
mysqlclient==2.1.1
pathspec==0.9.0
Pygments==2.10.0
python-editor==1.0.4
pytz==2021.3
readchar==2.0.1
regex==2021.10.8
requests==2.26.0
requests-toolbelt==0.9.1
runflare==1.1.4
six==1.16.0
spinners==0.0.24
sqlparse==0.4.3
termcolor==1.1.0
tzdata==2021.2.post0
tzlocal==3.0
urllib3==1.26.7
wcwidth==0.2.5
websockets==10.0
