html {
    box-sizing: border-box;
  }
  :root{
    --test :rgb(211, 135, 227);
    --vred:212;
    --vgreen:135;
    --vblue:227;
    --ghotr:3px;
    --contrast:1;
    --ekhtelaf:0.7;
  }
  
  /* *,*::after,*::before {
    box-sizing: inherit; 
  } */
  body {
    direction: rtl;
    margin: 10px;
    font-family: cursive;
    background: whitesmoke;  
    min-height: 100vh;
  }
  #titr{
    position: absolute;
    width: 100%;
    top: -2%;
    font-family:Tahoma;
    color: black;
    text-align: center;
    font-size: xx-large;
  }

  .main {
    position: relative;
    width: 350px;
    height: 200px;
    top: 100px;
    left: -10%;
    display: flex;
    flex-direction: column;
    background-color: rgb(var(--vred), var(--vgreen), var(--vblue),calc(var(--contrast) - var(--ekhtelaf)));
    border-top: var(--ghotr) outset rgb(var(--vred), var(--vgreen), var(--vblue),var(--contrast));
    border-left:var(--ghotr) outset rgb(var(--vred), var(--vgreen), var(--vblue),var(--contrast));
    border-right:var(--ghotr) inset rgb(var(--vred), var(--vgreen), var(--vblue),var(--contrast));
    border-bottom:var(--ghotr) inset rgb(var(--vred), var(--vgreen), var(--vblue),var(--contrast));
    border-radius: 10px;
    /* border: 4px solid blue; */
    /* min-height: 100px   */
  }
  .textbox {
    display: inline-block;
    /* background-color: rgb(var(--vred), var(--vgreen), var(--vblue),calc(var(--contrast) - var(--ekhtelaf))); */
    position: relative;
    /* top:5%; */
    /* left: 100px; */
    font-family:Tahoma;
    color: black;
    text-align: center;
    font-size:small ;
    font-weight: bold;
}
.textobject{
  position: relative;
}
  .effects {
   position: relative;
   top: 0px;
   left: 0%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;  
    overflow: auto;
    padding: 0px 0;
    /* background: rgb(var(--vred), var(--vgreen), var(--vblue),calc(var(--contrast) - var(--ekhtelaf)));   */
    flex: 10 10 150px;
    border-radius: 5px;
    /* border: 1px solid gray; */
    /* border-top: var(--ghotr) outset rgb(var(--vred), var(--vgreen), var(--vblue),var(--contrast));
    border-left:var(--ghotr) outset rgb(var(--vred), var(--vgreen), var(--vblue),var(--contrast));
    border-right:var(--ghotr) outset rgb(var(--vred), var(--vgreen), var(--vblue),calc(var(--contrast) - var(--ekhtelaf)));
    border-bottom:var(--ghotr) outset rgb(var(--vred), var(--vgreen), var(--vblue),calc(var(--contrast) - var(--ekhtelaf))); */
    margin: 0px ;
    padding: 0px ;
  }
  
  .effects__item {
    display: flex;
    flex-direction: column;
    flex: 0 0 100px;
    margin: 0 10px;
    background: rgb(var(--vred), var(--vgreen), var(--vblue),var(--contrast));
    border: 2px solid rgb(var(--vred), var(--vgreen), var(--vblue),var(--contrast));
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    padding-bottom: 10px;
    margin: 10px;
    transition: .3s border;
    line-height: 5px;
  }
  
  .effects__item.selected ,
  .effects__item:hover {
    border-color: var(--ghotr) outset rgb(var(--vred), var(--vgreen), var(--vblue),1);
  }
  
  
  
  .effects__name {
    /* flex-grow: 1; */
    color:black;
  /* left:35px; */
    position: relative;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* text-align: center; */
    font-size: small;
    /* padding: 0em; */
    /* text-transform: capitalize; */
    transition: .3s color;
    /* user-select: none; */
    font-family: Tahoma;

  }
  
  .effects__item.selected .effects__name,
  .effects__item:hover .effects__name {
    color: var(--ghotr) outset rgb(var(--vred), var(--vgreen), var(--vblue),var(--contrast));
    font-weight: bold;

  }
  
