html {
    box-sizing: border-box;
  }
  
  *,*::after,*::before {
    box-sizing: inherit; 
  }
  body {
    margin: 10px;
    font-family: cursive;
    background: white;  
    min-height: 100vh;
  }
  
  .main {
   top: 50px;
    display: flex;
    flex-direction: column;
    /* min-height: 100px   */
  }
 
  .effects {
   position: relative;
   top: 50px;
   left: 50px;
    width: 300px;
    display: flex;
    flex-flow: row nowrap;  
    overflow: auto;
    padding: 10px 0;
    background: white;  
    flex: 10 10 150px;
    border: 2px solid red;
    margin: 15px ;
  }
  
  .effects__item {
    display: flex;
    flex-direction: column;
    flex: 0 0 100px;
    margin: 0 10px;
    border: 1px solid #35373a;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    padding-bottom: 0;
    transition: .3s border;
    line-height: 5px;
  }
  
  .effects__item.selected ,
  .effects__item:hover {
    border-color: #c4ccdf;
  }
  
  
  
  .effects__name {
    /* flex-grow: 1; */
    color: #7e8792;  
    left: 35px;
    position: relative;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* text-align: center; */
    font-size: small;
    /* padding: 0em; */
    /* text-transform: capitalize; */
    transition: .3s color;
    /* user-select: none; */
    font-family: Tahoma;

  }
  
  .effects__item.selected .effects__name,
  .effects__item:hover .effects__name {
    color: blue;
  }
  
