{% load  static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href= "{% static "/css/reserv_end.css" %}">
    <title>Document</title>
</head>
<body dir="rtl" >
    <div class="maine">
        <img class="imgmaine" src="{% static "img/massage2.jpg" %}" alt="login">
        <p class="textobject">
            پرداخت و ثبت نهایی
        </p>
        <div class="regester">
            <form action="" class="nametable" method="POST">
                {% csrf_token %}
                <div class="box">
                    <p class=>
                        دوست عزیز شما خدمت لیزر فول بادی 
                    </p>
                    <p>
                       نننن 
                    </p>
                </div>
            <button  class="regesterbuttonsave">
                <a href="{% url 'order' %}">زرینپال</a>
            </button>
            <button class="regesterbuttoncancel">
                <a href="{% url 'irandargah' %}">ایراندرگاه</a>
            </button>
    </form>
        </div>
    </div>
    
</body>
</html>