{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href= "{% static "/css/reserv.css" %}">
    <title>Document</title>
</head>
<body>
    {% for w in job %}
        <div class="main">
        <div class="textbox">
            <p class="textobject">
                {{ w }}
            </p>
        </div>
        <div class="effects">
            {% for d in works %}
                {% if d.work == w %}
                    <div  class="effects__item ">
                        <p class="effects__name" >{{ d.work }} {{ d.detalework }}</p>
                        <p class="effects__name" >{{ d.person }}</p>
                        <p class="effects__name" >{{ d.cast }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
        <br>
        <br>
        <br>
    {% endfor %}


</body>
</html>