{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href= "{% static "/css/reserv.css" %}">
    <title>Document</title>
</head>
<body>
    {% for work in works %}
        <div class="main">
        <div class="textbox">
            <p class="textobject">
                {{ work.detalework }}
            </p>
        </div>
        <div class="effects">    
            <div  class="effects__item ">
                <p class="effects__name" >سلام</p>
                <p class="effects__name" >سلام</p>
                <p class="effects__name" >سلام</p>
            </div>
            <div  class="effects__item ">
                <p class="effects__name" >بوتاکس زیر بغل</p>
                <p class="effects__name" >سلام</p>
                <p class="effects__name" >سلام</p>
            </div>
        </div>
    </div>
    {% endfor %}


</body>
</html>