{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static "css/testhover.css" %}">
    <title>Document</title>
</head>
<body>
      <main class="main">
        <div class="effects">
            <div  class="effects__item ">
                <p class="effects__name" >سلام</p>
            </div>
          <figure class="effects__item selected" data-name="none-effect">
            <div class="effects__img none-effect"></div>
            <figcaption class="effects__name">none</figcaption>
          </figure>        
          <figure class="effects__item" data-name="pencil-effect">
            <div class="effects__img pencil-effect"></div>
            <figcaption class="effects__name">pencil</figcaption>
          </figure>
          <figure class="effects__item" data-name="watercolor-effect">
            <div class="effects__img watercolor-effect"></div>
            <figcaption class="effects__name">watercolor</figcaption>
          </figure>
          <figure class="effects__item" data-name="emboss-effect">
            <div class="effects__img emboss-effect"></div>
            <figcaption class="effects__name">emboss</figcaption>
          </figure>
          <figure class="effects__item" data-name="colored-pencil-effect">
            <div class="effects__img colored-pencil-effect"></div>
            <figcaption class="effects__name">colored pencil</figcaption>
          </figure>
          <figure class="effects__item" data-name="chalkboard-effect">
            <div class="effects__img chalkboard-effect"></div>
            <figcaption class="effects__name">chalkboard</figcaption>
          </figure>
          <figure class="effects__item" data-name="colored-chalkboard-effect">
            <div class="effects__img colored-chalkboard-effect"></div>
            <figcaption class="effects__name">colored chalkboard</figcaption>
          </figure>
          <figure class="effects__item" data-name="airbrush-effect">
            <div class="effects__img airbrush-effect"></div>
            <figcaption class="effects__name">airbrush</figcaption>
          </figure>
          <figure class="effects__item" data-name="hallucination-effect">
            <div class="effects__img hallucination-effect"></div>
            <figcaption class="effects__name">hallucination</figcaption>
          </figure>
          <figure class="effects__item" data-name="flannel-effect">
            <div class="effects__img flannel-effect"></div>
            <figcaption class="effects__name">flannel</figcaption>
          </figure>    
          <figure class="effects__item" data-name="low-ink-x-effect">
            <div class="effects__img low-ink-x-effect"></div>
            <figcaption class="effects__name">Low Ink (horizontal)</figcaption>
          </figure>    
          <figure class="effects__item" data-name="low-ink-y-effect">
            <div class="effects__img low-ink-y-effect"></div>
            <figcaption class="effects__name">Low Ink (vertical)</figcaption>
          </figure>    
          <figure class="effects__item" data-name="collage-effect">
            <div class="effects__img collage-effect"></div>
            <figcaption class="effects__name">collage</figcaption>
          </figure>    
          <figure class="effects__item" data-name="mosaic-effect">
            <div class="effects__img mosaic-effect"></div>
            <figcaption class="effects__name">mosaic</figcaption>
          </figure>    
          <figure class="effects__item" data-name="photo-border-effect">
            <div class="effects__img photo-border-effect"></div>
            <figcaption class="effects__name">photo border</figcaption>
          </figure>
          <figure class="effects__item" data-name="infrared-effect">
            <div class="effects__img infrared-effect"></div>
            <figcaption class="effects__name">infrared</figcaption>
          </figure>
          <figure class="effects__item" data-name="night-vision-effect">
            <div class="effects__img night-vision-effect"></div>
            <figcaption class="effects__name">night vision</figcaption>
          </figure>
          <figure class="effects__item" data-name="warhol-effect">
            <div class="effects__img warhol-effect"></div>
            <figcaption class="effects__name">warhol</figcaption>
          </figure>
          <figure class="effects__item" data-name="selective-color-effect">
            <div class="effects__img selective-color-effect"></div>
            <figcaption class="effects__name">selective color</figcaption>
          </figure>
          <figure class="effects__item" data-name="mirror-x-effect">
            <div class="effects__img mirror-x-effect"></div>
            <figcaption class="effects__name">Mirror (horizontal)</figcaption>
          </figure>
          <figure class="effects__item" data-name="mirror-y-effect">
            <div class="effects__img mirror-y-effect"></div>
            <figcaption class="effects__name">Mirror (vertical)</figcaption>
          </figure>
        </div>
      </main>    
      
</body>
</html>